body{
  color:#ffff;
  background-color:#202124;
}
a{
  color:#47aaf3;
}
main{
  margin-top:40px;
  margin-bottom:40px;
  text-align: center;
}
footer{
  text-align:center;
}
iframe{
  border-radius:10px;
  border:solid;
}